<section id="home">
    <div class=" d-none d-md-block">
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="assets/img/pic01.jpg" alt="first" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic02.jpg" alt="second" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic03.jpg" alt="third" class="item">
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic04.jpg" alt="fourth" class="item">
            </ng-template>
            
        </ngb-carousel>
    </div>
  <div class="container p-5">
      <app-message></app-message>
      
      <!-- <div class="row">
          <!-- <div *ngIf="!products" class="m-auto">
              <h1 class="text-center display-3 mt-5">
                  <i class="fa fa-spinner fa-spin"></i>
              </h1> -->
          <!-- </div> 
          
          
      </div>-->

      <div class="b">
       <td background="assets/img/flow.gif">
          <h1 class="text-center"><em>About</em></h1>
          <em>We create your mood!
            We made this website to make you happy with your desktop, meaning it never be boring and bring a piece of luck to your destiny. Fresh wallpaper of any taste will be happy to brighten your laptop screen; either with a picture of a nice-looking blonde or some spectacular space sceneries. To upgrade your desktop, you will not have to buy any new appliances; simply download superior wallpapers from our website.
            
            Our design team works 24/7 to create and deliver hot wallpapers with no hassle, in a traditional way. Designers try to use their imagination to the fullest to compensate blank or pastel outer reality. We invite true designer talents to work for us, creating unrepeatable visual compositions. Layers are static, so it takes a huge effort to compound layers in a harmonious way to achieve some genuine quality and add breathe life into them. Such works are provided in the collection of wallpapers comprised in variable categories.
            
            Classy wallpapers have never been easy to create, because they must appeal to sensory perception. The idea is to share the view of life with recipient, who will later see this picture on the desktop day after another. And what feelings and thoughts are enclosed in the wallpaper image? Only precise look will help to sift out seeds from darnel, to decode the author’s conception. Among categorized thousands of wallpapers find those responding to your desires and intentions right away: animals, cars, cartoons, girls, movies, space, sport, travel, etc.
            
            Quality wallpapers of high resolution have always been joyful for people of different ages, especially for fatigued office workers. Thought coming to your mind when you see your renovated screen are unknown, but we work to get to the core and find out the associations each brand new wallpaper causes in your mighty brain. Right chosen wallpapers will help to relax, especially with a complex of special exercises. Choose green or pastel colors to bring peace to life, to calm down and relax. Mental overload is something unexpected, therefore some soothing images will come in handy equally for blue or white collars.</em>
        </div> 
  </div>

</section>
